/*-------------------------------------------*\
    Grid 
\*-------------------------------------------*/

.grid-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 0;
  margin-top: 10px;
  max-height: calc(100vh - 50px);
}

/*-------------------------------------------*\
    Icons
\*-------------------------------------------*/

.icon {
  color: black;
  display: flex;
  flex-direction: column;
  margin: 1rem;
  align-items: center;
  text-align: center;
  width: 60%;
  cursor: url('../../cursor/pointer.cur'), auto !important;
}

.icon-text {
  color: white;
  margin: 1px;
  cursor: url('../../cursor/pointer.cur'), auto !important;
}

.icon-image {
  width: 30px;
  height: 30px;
  margin-bottom: 5px;
  cursor: url('../../cursor/pointer.cur'), auto !important;
}

.icon:focus .icon-image {
  filter: grayscale(100%) brightness(30%) sepia(100%) hue-rotate(-180deg)
    saturate(400%) contrast(0.9);
}

.icon:focus .icon-text {
  background: rgb(0, 0, 118);
  color: white;
  margin: 0px;
}

.icon:focus .border {
  border: rgb(255, 255, 148) dotted 1px;
}

/*-------------------------------------------*\
    CSS Normalisation 
\*-------------------------------------------*/

p {
  margin: 1vw 0 0 0;
  padding: 0 0 0 0;
}

li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

button {
  background: none;
  color: inherit;
  border: none;
  font: inherit;
  outline: inherit;
}
